= form_for(task) do |f|
  - if task.errors.any?
    #error_explanation
      %h2
        = pluralize(task.errors.count, "error")
        prohibited this task from being saved:
      %ul
        - task.errors.full_messages.each do |message|
          %li= message

  .row
    .col-sm-12.col-md-6
      .field.form-group
        = f.label :name
        = f.text_field :name, class: "form-control", placeholder: "Task name"
    .col-sm-12.col-md-6
      .field.form-group
        = f.label :task_type
        = f.text_field :task_type, class: "form-control", placeholder: "Type of task"
  .row
    .col-sm-12
      .field.form-group
        = f.label :description
        = f.text_field :description, class: "form-control", placeholder: "Task description"

  .actions
    = f.submit class: "btn btn-primary"
